includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
parameters:
  paths:
    # From PHPStan 0.12, paths to check are relative to the neon file
    - ../../productcomments.php
    - ../../ProductComment.php
    - ../../ProductCommentCriterion.php
    - ../../controllers/
    - ../../src/
    - ../../upgrade/
  level: 5
