includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Access to an undefined property Cookie::\$id_customer.#'
    - '#Access to an undefined property Cookie::\$id_guest.#'
    - '#Access to an undefined property HelperList::\$list_id.#'
    - '#Access to an undefined property HelperList::\$shopLinkType.#'
    - '#Parameter \#1 \$idCategory of class Category constructor expects null, int given.#'
    - '#Parameter \#1 \$value of method ControllerCore::ajaxRender\(\) expects null, string\|false given.#'
    - '#Parameter \#2 \$value of static method CacheCore::store\(\) expects string, array\|mysqli_result\|PDOStatement\|resource\|false\|null given.#'
