includes:
  - %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - 
      message: '#Cannot call method [a-zA-Z0-9\\_]+\(\) on object\|false.#'
      path: ../../productcomments.php