includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Access to an undefined property Cookie::\$id_customer.#'
    - '#Access to an undefined property Cookie::\$id_guest.#'
    - '#Access to an undefined property HelperList::\$list_id.#'
    - '#Access to an undefined property HelperList::\$shopLinkType.#'
    - 
      message: '#PHPDoc tag @extends contains generic type Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository<[a-zA-Z\\_]+> [a-zA-Z\\_]+ is not generic.#'
      path: ../../src/Repository
